main .contents .wrap h2 {
  padding-bottom: 20px;
}
main .contents .wrap ul {
  display: flex;
  justify-content: center;
  gap: 28px;
  padding-bottom: 80px;
}
main .contents .wrap ul li {
  width: 680px;
  height: 460px;
}
main .contents .wrap ul li .eduImg {
  background-size: 640px 460px;
  background-position: center;
  width: 100%;
  height: 100%;
}
main .contents .wrap ul li h4 {
  padding: 20px 0;
  font-weight: 600;
  color: #333;
}
main .contents .wrap ul:nth-child(2) li:first-child .eduImg {
  background: url("/img/edu01.png") no-repeat;
}
main .contents .wrap ul:nth-child(2) li:last-child .eduImg {
  background: url("/img/edu02.png") no-repeat;
}
main .contents .wrap ul:nth-child(4) li:first-child .eduImg {
  background: url("/img/edu03.png") no-repeat;
}
main .contents .wrap ul:nth-child(4) li:last-child .eduImg {
  background: url("/img/edu04.png") no-repeat;
}
main .contents .wrap ul:nth-child(6) li:first-child .eduImg {
  background: url("/img/edu05.png") no-repeat;
}
main .contents .wrap ul:nth-child(6) li:last-child .eduImg {
  background: url("/img/edu06.png") no-repeat;
}