.modalWrap {
  width: 380px;
  position: absolute;
  left: 0;
}
.modalWrap .modal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 380px;
  height: 560px;
  border: 1px solid #ccc;
}
.modalWrap .modal:first-child {
  display: block;
  background: #fff url("/img/modal1.jpg") center top no-repeat;
  background-size: 100% 94%;
  z-index: 100;
}
.modalWrap .modal:nth-child(2) {
  display: block;
  background: #fff url("/img/modal2.png") center top no-repeat;
  background-size: 100% 94%;
  z-index: 80;
}
.modalWrap .modal:last-child {
  display: block;
  background: #fff url("/img/modal3.jpg") center top no-repeat;
  background-size: 100% 94%;
  z-index: 60;
}
.modalWrap .modal .close {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 8px;
  right: 16px;
}
.modalWrap .modal .close label[for=close] {
  font-size: 0.8rem;
  padding-right: 12px;
}
.modalWrap .modal .close input[type=button] {
  cursor: pointer;
  font-size: 0.72rem;
  background-color: transparent;
  border: 1px solid #333;
}

main .imgSlide {
  position: relative;
  overflow: hidden;
}
main .imgSlide .slider {
  position: absolute;
  display: flex;
  align-items: center;
  top: 20px;
  right: 40px;
  width: 120px;
  height: 40px;
  z-index: 12;
}
main .imgSlide .slider div {
  cursor: pointer;
  margin-right: 8px;
  width: 12px;
  height: 6px;
  background-color: white;
  border-radius: 20px 4px;
}
main .imgSlide .slider div:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0;
  width: 20px;
  height: 20px;
  background-color: transparent;
  color: white;
}
main .imgSlide .slider div.mark {
  width: 32px;
}
main .imgSlide .imgBox {
  height: 680px;
}
main .imgSlide .imgBox img {
  position: absolute;
  left: 0;
  object-fit: cover;
  display: none;
}
main .imgSlide .imgBox img.showImg {
  width: 100%;
  display: block;
  z-index: 3;
}
main article .title {
  height: 60px;
  padding: 8px 0;
  font-size: 1.26rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
main article .title .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #4db83e;
  margin-right: 16px;
}
main article .title .circle i {
  color: white;
}
main article .title span {
  position: absolute;
  right: 8px;
  font-size: 1.7rem;
  color: #555;
}
main article .title .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #4db83e;
  margin-right: 16px;
}
main article .title .circle i {
  color: white;
}
main article .eventSlide {
  background-color: white;
  border-radius: 20px;
  position: relative;
  top: -100px;
  z-index: 3;
  padding: 4px 24px;
  width: 1152px;
  height: 402px;
}
main article .eventSlide .exhibit {
  width: 840px;
  float: left;
}
main article .eventSlide .exhibit .miniSlide {
  display: flex;
  gap: 8px;
  overflow: hidden;
}
main article .eventSlide .exhibit .miniSlide img {
  position: relative;
  height: 276px;
  transition: left 0.3s ease-in-out;
}
main article .eventSlide .exhibit .dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 16px;
}
main article .eventSlide .exhibit .dots div {
  margin-top: 12px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #bbb;
  cursor: pointer;
}
main article .eventSlide .exhibit .dots div:first-child {
  background-color: #555;
}
main article .eventSlide .closure {
  float: right;
  width: 280px;
  text-align: center;
}
main article .eventSlide .closure div {
  border: 1px solid #ddd;
}
main article .eventSlide .closure div:first-child {
  border: 0;
}
main article .eventSlide .closure ul {
  height: 232px;
  padding-top: 8px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
main article .eventSlide .closure ul li {
  padding: 6px 0;
}
main article .eventSlide .closure .month {
  background-color: #3e8f45;
  color: white;
  font-size: 1.1rem;
  padding: 8px 0;
}
main article .eventSlide .closure .month strong {
  color: #cdfd76;
}
main article .eventSlide .closure .time {
  padding: 4px 0;
  font-size: 0.87rem;
  line-height: 1.2rem;
  background-color: #ffbe0c;
}
main article .eventSlide .closure .time b {
  margin-right: 8px;
}
main article .flexBoard {
  display: flex;
  justify-content: center;
}
main article .flexBoard section {
  width: 520px;
  border-bottom: 1px solid #ddd;
}
main article .flexBoard section:first-child {
  margin-right: 1%;
}
main article .flexBoard section .title {
  border-bottom: 2px solid #444;
}
main article .flexBoard section .title .circle {
  background-color: #ff8401;
}
main article .flexBoard section .title span {
  font-size: 2 rem;
  cursor: pointer;
  color: #222;
}
main article .flexBoard section .boardList {
  display: flex;
  align-items: center;
  padding: 12px 0;
  cursor: pointer;
}
main article .flexBoard section .boardList:nth-child(2) {
  margin-top: 24px;
}
main article .flexBoard section .boardList:last-child {
  margin-bottom: 24px;
}
main article .flexBoard section .boardList:hover > .memo {
  color: #222;
}
main article .flexBoard section .boardList .date {
  text-align: center;
  font-size: 1.4rem;
  width: 20%;
  font-weight: 600;
}
main article .flexBoard section .boardList .date span {
  font-size: 0.9rem;
  color: #888;
}
main article .flexBoard section .boardList .memo {
  color: #777;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  font-weight: 600;
}
main article.reserve {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 350px;
  margin: 0 auto;
  gap: 8px;
  padding: 100px 0;
}
main article.reserve .reserveBox {
  color: white;
  border-radius: 2px;
  width: 12%;
  height: 248px;
  text-align: center;
  padding: 36px 12px;
  position: relative;
}
main article.reserve .reserveBox li {
  white-space: wrap;
  padding-bottom: 16px;
}
main article.reserve .reserveBox li:first-child {
  font-size: 24px;
  line-height: 2.2rem;
}
main article.reserve .reserveBox li:nth-child(2) {
  line-height: 1.2rem;
  font-size: 0.86rem;
}
main article.reserve .reserveBox li.btn {
  width: 84px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid white;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  font-size: 0.8rem;
  color: white;
  font-weight: 800;
  cursor: pointer;
}
main article.reserve .reserveBox li.btn:after {
  content: "";
  height: 0px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: height 0.3s ease-in-out;
}
main article.reserve .reserveBox li.btn:hover {
  color: #333;
}
main article.reserve .reserveBox li.btn:hover:after {
  background-color: white;
  z-index: -1;
  height: 100%;
}
main article.reserve .reserveBox li .icon {
  display: inline-block;
  width: 48px;
  height: 64px;
  padding-top: 24px;
  font-size: 2.2rem;
}
main article.reserve .reserveBox:first-child {
  background-color: #d04a0b;
}
main article.reserve .reserveBox:first-child .btn:hover {
  color: #d04a0b;
}
main article.reserve .reserveBox:nth-child(2) {
  background-color: #996614;
}
main article.reserve .reserveBox:nth-child(2) .btn:hover {
  color: #996614;
}
main article.reserve .reserveBox:nth-child(3) {
  background-color: #5ca52a;
}
main article.reserve .reserveBox:nth-child(3) .btn:hover {
  color: #5ca52a;
}
main article.reserve .reserveBox:nth-child(4) {
  color: #333;
  background-color: #f9e003;
}
main article.reserve .reserveBox:nth-child(4) li:first-child {
  font-size: 1.2rem;
}
main article.reserve .reserveBox:nth-child(4) i {
  color: #037dfd;
}
main article.reserve .reserveBox:nth-child(4) .btn {
  background-color: #037dfd;
  border: 0;
}
main article.reserve .reserveBox:nth-child(4) .btn:hover {
  color: white;
}
main article.reserve .reserveBox:nth-child(4) .btn:hover:after {
  background-color: transparent;
}
main article.reserve .reserveBox:nth-child(5) {
  background-color: #4c86a9;
}
main article.reserve .reserveBox:nth-child(5) .btn:hover {
  color: #4c86a9;
}
main article.reserve .reserveBox:nth-child(5) li:nth-child(3) {
  bottom: 64px;
}
main article.reserve .reserveBox:last-child {
  color: #333;
  background-color: #efefef;
}
main article.reserve .reserveBox:last-child li:first-child {
  font-size: 1.2rem;
}
main article.reserve .reserveBox:last-child .btn {
  color: #333;
  border: 1px solid #333;
}
main article.reserve .reserveBox:last-child .btn:hover {
  color: white;
}
main article.reserve .reserveBox:last-child .btn:hover:after {
  background-color: #333;
}
main article.introduce {
  width: 100%;
  height: 500px;
  background: url("../img/greenBg.jpg") no-repeat;
  background-size: 100% 260px;
}
main article.introduce .title {
  color: white;
  margin: 0 auto;
  width: 1100px;
  height: 88px;
}
main article.introduce .title span {
  color: inherit;
  font-size: 0.86rem;
}
main article.introduce .title span i {
  padding-left: 8px;
}
main article.introduce .placeContainer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
main article.introduce .placeContainer .left,
main article.introduce .placeContainer .right {
  position: absolute;
  top: 60px;
  font-size: 2.6rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  cursor: pointer;
}
main article.introduce .placeContainer .left {
  left: 320px;
}
main article.introduce .placeContainer .right {
  right: 320px;
}
main article.introduce .placeContainer .placeWrap {
  position: absolute;
  top: 0%;
  width: 1052px;
  display: flex;
  overflow: hidden;
  gap: 8px;
}
main article.introduce .placeContainer .placeWrap .place {
  width: 100%;
  position: relative;
  box-shadow: 0 -20px 100px -2px inset;
}
main article.introduce .placeContainer .placeWrap .place:last-child {
  margin-right: 0;
}
main article.introduce .placeContainer .placeWrap .place img {
  position: relative;
  z-index: -1;
}
main article.introduce .placeContainer .placeWrap .place dl {
  color: white;
  position: absolute;
  bottom: 16px;
  height: 50px;
  width: 100%;
  padding: 0 20px;
}
main article.introduce .placeContainer .placeWrap .place dl dt {
  padding-top: 8px;
  font-weight: 900;
  font-size: 24px;
}

@media screen and (max-width: 1199px) {
  .left,
  .right {
    display: none !important;
  }
}
@media screen and (max-width: 1024px) {
  .topBtn {
    display: none;
  }
}