main .contents .wrap h2 {
  font-size: 900;
  width: 100%;
  padding-bottom: 16px;
}
main .contents .wrap table {
  width: 100%;
  border: 1px solid #ddd;
  text-align: center;
  line-height: 1.4rem;
}
main .contents .wrap table tr th,
main .contents .wrap table tr td {
  border: 1px solid #ddd;
  padding: 16px 0;
}
main .contents .wrap table tr th {
  background-color: #eee;
  font-weight: 700;
}
main .contents .wrap table tr td {
  font-weight: 500;
}
main .contents .wrap table tr:first-child {
  border-top: 2px solid #4db83e;
}
main .contents .wrap ul.notice,
main .contents .wrap ul.benefit {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
main .contents .wrap ul.notice li,
main .contents .wrap ul.benefit li {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 48px;
  padding: 12px 32px;
  margin: 8px 12px;
  border: 1px solid #ddd;
  font-size: 0.96rem;
  line-height: 1.28rem;
  color: #777;
  font-weight: 600;
}
main .contents .wrap .redLine {
  color: red;
  padding-top: 16px;
  font-size: 0.9rem;
}
main .contents .wrap > * {
  padding: 32px 0 50px 0;
}
main .contents .wrap .bgArea {
  height: 320px;
  padding: 100px 0;
  display: flex;
  gap: 24px;
  justify-content: center;
}
main .contents .wrap .bgArea ul {
  width: 320px;
  height: 320px;
  border: 1px solid #ddd;
  position: relative;
  padding: 20px;
  background-color: #fff;
  z-index: 0;
}
main .contents .wrap .bgArea ul li {
  text-align: center;
  line-height: 1.6rem;
}
main .contents .wrap .bgArea ul li span {
  font-weight: 700;
}
main .contents .wrap .bgArea ul li button {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  border: 0;
  background-color: #0ba17c;
  color: #fff;
  padding: 12px 24px;
  border-radius: 24px;
  font-weight: 700;
}
main .contents .wrap .bgArea ul li:first-child {
  width: 90px;
  height: 90px;
  background-repeat: no-repeat;
  margin: 0 auto;
}
main .contents .wrap .bgArea ul li:nth-child(2) {
  font-size: 1.2rem;
  font-weight: 900;
  padding: 20px 0;
}
main .contents .wrap .bgArea ul:first-child li:first-child {
  background-image: url("/img/icon_guide1.png");
}
main .contents .wrap .bgArea ul:nth-child(2) li:first-child {
  background-image: url("/img/icon_guide2.png");
}
main .contents .wrap .bgArea ul:last-child li:first-child {
  background-image: url("/img/icon_guide3.png");
}
main .contents .wrap .prohibit {
  display: flex;
  flex-wrap: wrap;
}
main .contents .wrap .prohibit li {
  width: 560px;
  display: flex;
  align-items: center;
  margin: 16px;
  line-height: 1.5rem;
}
main .contents .wrap .prohibit li img {
  width: 80px;
  height: 80px;
}
main .contents .wrap .prohibit li .banText {
  width: 72%;
  padding-left: 16px;
}
main .contents .wrap .prohibit li .banText h4 {
  font-weight: 900;
}
main .contents .wrap .prohibit li .banText h5 {
  font-weight: 700;
}
main .contents .wrap .fare .iconList {
  display: flex;
  padding: 48px 0;
}
main .contents .wrap .fare .iconList li {
  width: 500px;
  margin: 0 12px;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 1.4rem;
  background: url("/img/topBorder.gif") no-repeat center top;
}
main .contents .wrap .fare .iconList li .desc {
  padding-top: 32px;
  text-align: center;
  font-size: 0.86rem;
}
main .contents .wrap .fare .text li {
  list-style: circle;
  line-height: 1.6rem;
}