body {
  line-height: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  overflow-x: hidden;
  position: relative;

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    font-size: 1.1rem;
    color: #333;
    font-weight: 200;
    position: relative;

    nav {
      width: 60%;
      display: flex;
      justify-content: end;
      padding-right: 88px;
      height: 80px;
      ul {
        display: flex;
        align-items: center;

        li {
          font-weight: 900;
          position: relative;
          a {
            padding: 16px 12px;
          }
          &:after {
            content: "";
            width: 100%;
            height: 4px;
            position: absolute;
            left: 0;
            bottom: -32px;
            background-color: #299a52;
            transform: scaleX(0);
            transition: 0.3s ease-in-out;
          }
          &:hover:after {
            transform: scaleX(1);
          }
          ul {
            position: absolute;
            bottom: -100px;
            z-index: 100;
          }
        }
      }
    }
    .nation {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      overflow: hidden;
      border: 1px solid #ddd;
      position: relative;
      margin-top: 2px;

      img {
        position: absolute;
        left: 0px;
        top: 5px;
        width: 30px;
      }
    }
    .showNav {
      display: flex;
      justify-content: center;
      position: absolute;
      left: 0;
      top: 81px;
      width: 100%;
      transition: height 3s ease-in-out;

      > li {
        width: 72%;
        height: 0;
        padding-left: 160px;
        display: none;
        > a {
          position: absolute;
          top: 90px;
          left: 10%;
          font-weight: 900;
          font-size: 1.48rem;
          &:before {
            content: "";
            width: 100%;
            height: 3px;
            position: absolute;
            top: -40px;
            background-color: #333;
          }
        }
        .listTitle {
          padding-left: 30%;
          width: 68%;
          display: flex;
          flex-wrap: wrap;
          gap: 48px 0;
          > ul {
            width: 25%;
            > a {
              font-weight: 900;
            }
            > li {
              line-height: 1.2rem;
              &:nth-child(2) {
                padding-top: 8px;
              }
              a {
                color: #666;
                font-size: 0.9rem;
              }
            }
          }
        }
        &.active {
          width: 100%;
          height: 240px;
          padding: 100px 0 120px 0;
          position: absolute;
          display: block;
          top: 0;
          left: 0;
          z-index: 10;
          background-color: white;
          box-shadow: 0 3px 8px -5px;
        }
      }
    }
  }
  header + nav {
    width: 76%;
    display: flex;
    position: relative;
    border-bottom: 1px solid #ddd;
    padding: 0 12%;
    height: 52px;

    .select {
      font-size: 0.86rem;
      width: 200px;
      border-right: 1px solid #ddd;

      .selected {
        height: 16px;
        padding: 18px 20px;
        position: relative;

        .arrow {
          position: absolute;
          right: 12px;
          top: 50%;
          transform: translateY(-50%);
          z-index: 3;
          &:after {
            content: "\f078";
            font-family: "fontawesome";
            display: block;
          }
        }
      }
      ul {
        position: relative;
        z-index: 10;
        display: none;
        li {
          padding: 12px 20px;
          height: 28px;
          border: 1px solid #ddd;
          line-height: 1.8rem;
          border-top: 0;
          background-color: #fff;
          &:first-child {
            background-color: transparent;
          }
          &:hover {
            color: #527552;
          }
        }
      }
    }
    .share {
      position: absolute;
      right: 12%;
      top: 0;
      height: 30px;
    }
    .home,
    .share {
      display: flex;
      align-items: center;
      border-left: 1px solid #ddd;
    }

    .home,
    select,
    .share {
      padding: 12px;
      border-right: 1px solid #ddd;
    }
  }
  main {
    position: relative;
    width: 100%;
    margin: 0 auto;
    .fixBar {
      position: absolute;
      top: 100px;
      right: 6.4%;
      width: 96px;
      box-shadow: 4px 6px 18px -3px gray;
      border-radius: 10px;
      z-index: 100;
      background-color: white;
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px 16px 0 16px;
        position: relative;
        border-top: 1px solid #999;
        margin: 0 12px 36px 12px;
        &:first-child {
          border-top: 0;
        }
        a {
          position: absolute;
          padding-top: 36px;
          font-size: 0.8rem;
          font-weight: 700;
          bottom: -20px;
          color: #444;
        }
      }
    }
    article {
      position: relative;
      width: 100%;
      margin: 0 auto;

      &.contents {
        display: flex;
        flex-direction: column;
        align-items: center;
        > .title {
          padding: 60px 0;
          text-align: center;
          line-height: 2rem;

          h1 {
            color: #299a52;
            font-weight: 900;
            position: relative;
            &:before {
              content: "";
              display: block;
              background: url("/img/zig-zag.png") no-repeat;
              background-size: 100% 100%;
              width: 40px;
              height: 12px;
              position: relative;
              left: 50%;
              top: -10px;
              transform: translateX(-50%);
            }
          }
          h4 {
            font-weight: 600;
            padding: 24px 0;
          }
        }
        .wrap {
          width: 1200px;
        }
      }
    }
    .topBtn {
      position: fixed;
      bottom: -100px;
      right: 32px;
      width: 52px;
      height: 52px;
      border-radius: 50%;
      border: 0;
      background-color: black;
      color: white;
      font-size: 0.74rem;
      font-weight: 700;
      transition: top 1s ease-out;
      z-index: 100;
      i {
        position: relative;
        top: 8px;
        font-size: 0.6em;
      }
    }
  }

  footer {
    width: 100%;
    background-color: #444;
    position: relative;
    font-size: 0.8rem;
    bottom: 0;
    ul {
      display: flex;
      height: 44px;
      align-items: center;
      border-bottom: 1px solid #999;
      padding-left: 10%;
      color: #fff;
      li {
        padding-right: 16px;
        font-weight: 900;
        a {
          padding: 12px 0;
        }
      }
      &.sns {
        position: absolute;
        border-bottom: 0;
        top: 0px;
        right: 16%;
        font-size: 1.1rem;
        li {
          display: flex;
          align-items: center;
          padding: 0 16px;
          height: 100%;
          border-right: 1px solid #999;
          &:first-child {
            border-left: 1px solid #999;
          }
        }
      }
    }
    .footerInfo {
      color: #ccc;
      padding: 0 10%;
      position: relative;
      line-height: 1.3rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 116px;
      div {
        &:nth-child(2) {
          padding-left: 36px;
        }
        &:last-child {
          position: absolute;
          right: 10%;
          img {
            height: 60px;
          }
        }
      }
    }
  }
}
