main {
  .contents {
    .wrap {
      h2 {
        padding-bottom: 20px;
      }
      ul {
        display: flex;
        justify-content: center;
        gap: 28px;
        padding-bottom: 80px;
        li {
          width: 680px;
          height: 460px;
          background-size: cover;
          background-position: center;
          position: relative;

          h4 {
            padding: 20px 0;
            font-weight: 600;
            color: #333;
            position: absolute;
            bottom: -52px;
          }
        }
        &:nth-child(2) {
          li:first-child {
            background: url("/img/edu01.png") no-repeat;
          }
          li:last-child {
            background: url("/img/edu02.png") no-repeat;
          }
        }
        &:nth-child(4) {
          li:first-child {
            background: url("/img/edu03.png") no-repeat;
          }
          li:last-child {
            background: url("/img/edu04.png") no-repeat;
          }
        }
        &:nth-child(6) {
          li:first-child {
            background: url("/img/edu05.png") no-repeat;
          }
          li:last-child {
            background: url("/img/edu06.png") no-repeat;
          }
        }
      }
    }
  }
}
