.modalWrap {
  width: 380px;
  position: absolute;
  left: 0;
  .modal {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 380px;
    height: 560px;
    border: 1px solid #ccc;
    &:first-child {
      display: block;
      background: #fff url("/img/modal1.jpg") center top no-repeat;
      background-size: 100% 94%;
      z-index: 100;
    }
    &:nth-child(2) {
      display: block;
      background: #fff url("/img/modal2.png") center top no-repeat;
      background-size: 100% 94%;
      z-index: 80;
    }
    &:last-child {
      display: block;
      background: #fff url("/img/modal3.jpg") center top no-repeat;
      background-size: 100% 94%;
      z-index: 60;
    }
    .close {
      display: flex;
      align-items: center;
      position: absolute;
      bottom: 8px;
      right: 16px;
      label[for="close"] {
        font-size: 0.8rem;
        padding-right: 12px;
      }
      input[type="button"] {
        cursor: pointer;
        font-size: 0.72rem;
        background-color: transparent;
        border: 1px solid #333;
      }
    }
  }
}

main {
  .imgSlide {
    position: relative;
    overflow: hidden;
    .slider {
      position: absolute;
      display: flex;
      align-items: center;
      top: 20px;
      right: 40px;
      width: 120px;
      height: 40px;
      z-index: 12;

      div {
        cursor: pointer;
        margin-right: 8px;
        width: 12px;
        height: 6px;
        background-color: white;
        border-radius: 20px 4px;

        &:last-child {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 0;
          width: 20px;
          height: 20px;
          background-color: transparent;
          color: white;
        }
        &.mark {
          width: 32px;
        }
      }
    }
    .imgBox {
      height: 800px;
      img {
        position: absolute;
        left: 0;
        object-fit: cover;
        display: none;
        &.showImg {
          width: 100%;
          display: block;
          z-index: 3;
        }
      }
    }
  }
  article {
    .title {
      height: 60px;
      padding: 8px 0;
      font-size: 1.26rem;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      position: relative;
      .circle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: #4db83e;
        margin-right: 16px;

        i {
          color: white;
        }
      }
      span {
        position: absolute;
        right: 8px;
        font-size: 1.7rem;
        color: #555;
      }
      .circle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: #4db83e;
        margin-right: 16px;

        i {
          color: white;
        }
      }
    }
    .eventSlide {
      background-color: white;
      border-radius: 20px;
      position: relative;
      top: -100px;
      z-index: 3;
      padding: 4px 24px;
      width: 1152px;
      height: 420px;

      .exhibit {
        width: 840px;
        float: left;

        .miniSlide {
          display: flex;
          gap: 8px;
          overflow: hidden;

          img {
            position: relative;
            height: 276px;
            transition: left 0.3s ease-in-out;
          }
        }
        .dots {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 12px;
          padding: 16px;
          div {
            margin-top: 12px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #bbb;
            cursor: pointer;
            &:first-child {
              background-color: #555;
            }
          }
        }
      }
      .closure {
        float: right;
        width: 280px;
        text-align: center;

        div {
          border: 1px solid #ddd;
          &:first-child {
            border: 0;
          }
        }
        ul {
          height: 232px;
          padding-top: 8px;
          border-left: 1px solid #ddd;
          border-right: 1px solid #ddd;
          li {
            padding: 6px 0;
          }
        }
        .month {
          background-color: #3e8f45;
          color: white;
          font-size: 1.1rem;
          padding: 8px 0;
          strong {
            color: #cdfd76;
          }
        }
        .time {
          padding: 4px 0;
          font-size: 0.87rem;
          line-height: 1.2rem;
          background-color: #ffbe0c;
          b {
            margin-right: 8px;
          }
        }
      }
    }
    .flexBoard {
      display: flex;
      justify-content: center;

      section {
        width: 520px;
        border-bottom: 1px solid #ddd;
        &:first-child {
          margin-right: 1%;
        }
        .title {
          border-bottom: 2px solid #444;
          .circle {
            background-color: #ff8401;
          }
          span {
            font-size: 2 rem;
            cursor: pointer;
            color: #222;
          }
        }
        .boardList {
          display: flex;
          align-items: center;
          padding: 12px 0;
          cursor: pointer;
          &:nth-child(2) {
            margin-top: 24px;
          }
          &:last-child {
            margin-bottom: 24px;
          }
          &:hover > .memo {
            color: #222;
          }
          .date {
            text-align: center;
            font-size: 1.4rem;
            width: 20%;
            font-weight: 600;
            span {
              font-size: 0.9rem;
              color: #888;
            }
          }
          .memo {
            color: #777;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            word-break: break-all;
            font-weight: 600;
          }
        }
      }
    }
    &.reserve {
      display: flex;
      flex-direction: row;
      justify-content: center;
      height: 350px;
      margin: 0 auto;
      gap: 8px;
      padding: 100px 0;
      .reserveBox {
        color: white;
        border-radius: 2px;
        width: 12%;
        height: 248px;
        text-align: center;
        padding: 36px 12px;
        position: relative;
        li {
          white-space: wrap;
          padding-bottom: 16px;

          &:first-child {
            font-size: 24px;
            line-height: 2.2rem;
          }
          &:nth-child(2) {
            line-height: 1.2rem;
            font-size: 0.86rem;
          }
          &.btn {
            width: 84px;
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            border: 1px solid white;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 12px;
            font-size: 0.8rem;
            color: white;
            font-weight: 800;
            cursor: pointer;
            &:after {
              content: "";
              height: 0px;
              width: 100%;
              position: absolute;
              bottom: 0;
              left: 0;
              transition: height 0.3s ease-in-out;
            }
            &:hover {
              color: #333;
            }
            &:hover:after {
              background-color: white;
              z-index: -1;
              height: 100%;
            }
          }
          .icon {
            display: inline-block;
            width: 48px;
            height: 64px;
            padding-top: 24px;
            font-size: 2.2rem;
          }
        }
        &:first-child {
          background-color: #d04a0b;
          .btn {
            &:hover {
              color: #d04a0b;
            }
          }
        }
        &:nth-child(2) {
          background-color: #996614;
          .btn {
            &:hover {
              color: #996614;
            }
          }
        }
        &:nth-child(3) {
          background-color: #5ca52a;
          .btn:hover {
            color: #5ca52a;
          }
        }
        &:nth-child(4) {
          color: #333;
          background-color: #f9e003;
          li:first-child {
            font-size: 1.2rem;
          }
          i {
            color: #037dfd;
          }
          .btn {
            background-color: #037dfd;
            border: 0;
            &:hover {
              color: white;
              &:after {
                background-color: transparent;
              }
            }
          }
        }
        &:nth-child(5) {
          background-color: #4c86a9;

          .btn {
            &:hover {
              color: #4c86a9;
            }
          }
          li:nth-child(3) {
            bottom: 64px;
          }
        }
        &:last-child {
          color: #333;
          background-color: #efefef;
          li:first-child {
            font-size: 1.2rem;
          }
          .btn {
            color: #333;
            border: 1px solid #333;
            &:hover {
              color: white;
              &:after {
                background-color: #333;
              }
            }
          }
        }
      }
    }
    &.introduce {
      width: 100%;
      height: 500px;
      background: url("../img/greenBg.jpg") no-repeat;
      background-size: 100% 260px;

      .title {
        color: white;
        margin: 0 auto;
        width: 1100px;
        height: 88px;
        span {
          color: inherit;
          font-size: 0.86rem;
          i {
            padding-left: 8px;
          }
        }
      }
      .placeContainer {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
        .left,
        .right {
          position: absolute;
          top: 60px;
          font-size: 2.6rem;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100px;
          height: 100px;
          cursor: pointer;
        }
        .left {
          left: 320px;
        }
        .right {
          right: 320px;
        }

        .placeWrap {
          position: absolute;
          top: 0%;

          width: 1052px;
          display: flex;
          overflow: hidden;
          gap: 8px;
          .place {
            width: 100%;
            position: relative;
            box-shadow: 0 -20px 100px -2px inset;
            &:last-child {
              margin-right: 0;
            }
            img {
              position: relative;
              z-index: -1;
            }
            dl {
              color: white;
              position: absolute;
              bottom: 16px;
              height: 50px;
              width: 100%;
              padding: 0 20px;
              dt {
                padding-top: 8px;
                font-weight: 900;
                font-size: 24px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  //가로 해상도가 1200px 미만인 화면에 적용
  .main {
    .imgSlide {
      height: 700px !important;
    }
    article {
      width: 90% !important;
      .eventSlide {
        margin: 0 auto;
        width: 83.6% !important;
        flex-wrap: wrap;
        .exhibit {
          width: 100% !important;
          img {
            height: 328px !important;
          }
        }
        .closure {
          width: 100% !important;
        }
      }
      .flexBoard {
        width: 90%;
      }
      &.introduce {
        .left,
        .right {
          display: none;
        }
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .main {
    .imgSlide {
      height: 600px !important;
    }
  }
}
