header + nav {
  width: 76%;
  display: flex;
  position: relative;
  border-bottom: 1px solid #ddd;
  padding: 0 12%;
  height: 52px;

  select {
    appearance: none;
    -o-appearance: none; //구 오페라
    -webkit-appearance: none; //크롬, 사파리, 오페라
    -moz-appearance: none; //파이어폭스
    border: none;
    width: 168px;
    position: relative;
    &:after {
      position: absolute;
      top: 0;
      display: inline-block;
      content: "";
      background: url("/img/icon/down.png") no-repeat;
      margin-right: 10px;
    }
  }
  .share {
    position: absolute;
    right: 12%;
    top: 0;
    height: 30px;
  }
  .home,
  .share {
    display: flex;
    align-items: center;
    border-left: 1px solid #ddd;
  }

  .home,
  select,
  .share {
    padding: 12px;
    border-right: 1px solid #ddd;
  }
}
main {
  .contents {
    width: 80%;
    margin: 0 auto;
    .title {
      padding: 32px 0;
      text-align: center;
      line-height: 2rem;
    }
    .wrap {
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        h1 {
          width: 100%;
          padding-bottom: 16px;
        }
        li {
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 600px;
          height: 48px;
          padding: 12px 32px;
          border: 1px solid #ddd;
          margin: 8px 12px;
          font-size: 0.96rem;
          line-height: 1.28rem;
          color: #777;
          font-weight: 600;
        }
        h4 {
          color: red;
          padding-top: 16px;
          font-size: 0.9rem;
        }
      }
      table {
      }
    }
  }
}
.fixBar {
  display: none;
}
