main {
  .contents {
    width: 100%;
    background: url("/img/forest.jpg") 100% 200px no-repeat;
    .wrap {
      .bgArea {
        text-align: center;
        padding-top: 120px;
        color: white;
        height: 400px;
        strong {
          font-size: 2rem;
        }
        p {
          font-size: 1.2rem;
          line-height: 2rem;
          padding-top: 50px;
        }
      }
      .greenCounseling {
        display: flex;
        justify-content: center;
        height: 480px;
        gap: 24px;
        li {
          text-align: center;
          width: 250px;
          height: 200px;
          border: 1px solid transparent;
          border-bottom: 1px solid #333;
          padding: 100px 12px 0px 12px;
          cursor: pointer;
          span {
            color: #299a52;
            font-weight: 900;
            padding-top: 48px;
            font-size: 1.2rem;
            display: inline-block;
          }
          p {
            line-height: 1.4rem;
            font-size: 0.86rem;
          }
          &:hover {
            border: 1px solid #299a52;
            box-shadow: 5px 5px 50px 8px rgb(234, 233, 233);
          }

          &:first-child {
            background: url("/img/garden01.gif") center 52px no-repeat;
          }
          &:nth-child(2) {
            background: url("/img/garden02.gif") center 52px no-repeat;
          }
          &:nth-child(3) {
            background: url("/img/garden03.gif") center 52px no-repeat;
          }
          &:last-child {
            background: url("/img/garden04.gif") center 52px no-repeat;
          }
        }
      }
    }
  }
}
