<ul>
  <li><a href="">이용약관</a></li>
  <li><a href="">개인정보처리방침</a></li>
  <li><a href="">영상정보처리기기 운영/방침</a></li>
  <li><a href="">윤리경영</a></li>
  <li><a href="">사이트맵</a></li>
  <li><a href="">찾아오시는길</a></li>
</ul>
<ul class="sns">
  <li>
    <a href=""><i class="fa-solid fa-n"></i></a>
  </li>
  <li>
    <a href=""><i class="fa-brands fa-youtube"></i></a>
  </li>
  <li>
    <a href=""><i class="fa-brands fa-instagram"></i></a>
  </li>
  <li>
    <a href=""><i class="fa-brands fa-facebook"></i></a>
  </li>
</ul>
<div class="footerInfo">
  <div>
    <img src="/img/footerLogo.png" alt="하단로고" />
  </div>
  <div>
    <p>
      30106 세종특별자치시 연기면 수목원로 136 수목원로 136 국립세종수목원/TEL 044-251-0001<br />@ 국립세종수목원.All
      Rights Reserved.
    </p>
  </div>
  <div>
    <img src="/img/webMark.png" alt="웹접근성마크" />
  </div>
</div>
