<a href="/index.html"><img src="/img/logo.png" alt="로고" /></a>
<nav>
  <ul>
    <li>
      <a href="/components/operation.html">관람안내</a>
    </li>
    <li>
      <a href="/components/exhibit.html">전시</a>
    </li>
    <li>
      <a href="/components/education.html">교육</a>
    </li>
    <li>
      <a href="/components/study.html">연구</a>
    </li>
    <li>
      <a href="/components/partner.html">반려식물</a>
    </li>
    <li>
      <a href="/components/organization.html">기관소개</a>
    </li>
  </ul>
</nav>
<div class="nation_menu">
  <div class="nation">
    <img src="/img/flag.png" alt="국기" />
  </div>
  <div class="menu">
    <img src="/img/icon/square.png" alt="반응형 메뉴" />
  </div>
</div>

<ul class="showNav">
  <li>
    <a href="">관람안내</a>
    <div class="listTitle">
      <ul>
        <a href="">이용안내</a>
      </ul>
      <ul>
        <a href="">종합안내도</a>
      </ul>
      <ul>
        <a href="">추천코스</a>
        <li><a href="">추천코스1</a></li>
        <li><a href="">추천코스2</a></li>
        <li><a href="">추천코스3</a></li>
      </ul>
      <ul>
        <a href="">편의시설</a>
        <li><a href="">푸드코트</a></li>
        <li><a href="">카페/베이커리</a></li>
        <li><a href="">편의점</a></li>
      </ul>
      <ul>
        <a href="">주변관광안내</a>
        <li><a href="">주변시/군 관광안내</a></li>
        <li><a href="">세종시관광안내</a></li>
        <li><a href="">세종시중앙공원</a></li>
      </ul>
      <ul>
        <a href="">자주하는 질문</a>
      </ul>
      <ul>
        <a href="">찾아오시는길</a>
      </ul>
      <ul>
        <a href="">식물정보서비스</a>
      </ul>
    </div>
  </li>
  <li>
    <a href="">전시</a>
    <div class="listTitle">
      <ul>
        <a href="">기획전시</a>
      </ul>
      <ul>
        <a href="">문화행사</a>
      </ul>
      <ul>
        <a href="">주제전시원</a>
      </ul>
      <ul>
        <a href="">온실</a>
        <li><a href="">사계절 전시온실</a></li>
        <li><a href="">희귀 특산 식물 온실</a></li>
      </ul>
      <ul>
        <a href="">분재원</a>
      </ul>
      <ul>
        <a href=""> 이달의 수목원</a>
      </ul>
      <ul>
        <a href="">수목원의 오늘</a>
      </ul>
      <ul>
        <a href="">식물현황</a>
      </ul>
    </div>
  </li>
  <li>
    <a href="">교육</a>
    <div class="listTitle">
      <ul>
        <a href=""> 교육소개</a>
      </ul>
      <ul>
        <a href=""> 교육소식</a>
      </ul>
      <ul>
        <a href=""> 교육예약</a>
        <li><a href="">해설프로그램</a></li>
        <li><a href="">일반교육분야</a></li>
        <li><a href="">전문교육분야</a></li>
        <li><a href="">치유교육분야</a></li>
      </ul>
      <ul>
        <a href="">교육자료실</a>
      </ul>
    </div>
  </li>
  <li>
    <a href="">연구</a>
    <div class="listTitle">
      <ul>
        <a href="">한반도 산림식생대 소개</a>
      </ul>
      <ul>
        <a href=""> 온대중부식물 연구 소개</a>
        <li><a href="">온대중부식물 연구 소개</a></li>
        <li><a href="">온대중부식물 보전</a></li>
        <li><a href="">온대중부식물 활용</a></li>
      </ul>
      <ul>
        <a href="">정원소재연구실</a>
        <li><a href="">정원소재연구실 소개</a></li>
        <li><a href="">식물증식</a></li>
        <li><a href="">식물양모</a></li>
        <li><a href="">정원소재개발</a></li>
      </ul>
      <ul>
        <a href="">정원식물 전시품평회</a>
        <li><a href="">사업 소개</a></li>
        <li><a href="">운영 현황</a></li>
        <li><a href="">출품식물</a></li>
        <li><a href="">올해의 정원식물</a></li>
      </ul>
      <ul>
        <a href=""> 연구자료실</a>
      </ul>
    </div>
  </li>
  <li>
    <a href="">반려식물</a>
    <div class="listTitle">
      <ul>
        <a href="">반려식물 클리닉 소개</a>
      </ul>
      <ul>
        <a href="">반려식물 클리닉</a>
        <li><a href="">식물 상담실</a></li>
        <li><a href="">반려식물 Q&A</a></li>
        <li><a href="">식물관리 가이드</a></li>
      </ul>
      <ul>
        <a href="">반려식물 나눔</a>
        <li><a href="">식물 입양</a></li>
        <li><a href="">종자 나눔</a></li>
        <li><a href="">업사이클 가드닝</a></li>
        <li><a href="">무료 나눔</a></li>
      </ul>
      <ul>
        <a href=""> 식물지식 나눔</a>
        <li><a href="">생활 속 모델정원</a></li>
        <li><a href="">전시회</a></li>
      </ul>
      <ul>
        <a href=""> 반려식물 키트 산업계 지원</a>
      </ul>
    </div>
  </li>
  <li>
    <a href="">기관소개</a>
    <div class="listTitle">
      <ul>
        <a href="">수목원소개</a>
        <li><a href="">국립세종수목원 소개</a></li>
        <li><a href="">CI 소개</a></li>
        <li><a href="">연혁</a></li>
        <li><a href="">윤리경영</a></li>
        <li><a href="">인권경영</a></li>
        <li><a href="">조직안내</a></li>
      </ul>
      <ul>
        <a href="">알림마당</a>
        <li><a href="">공지사항</a></li>
        <li><a href="">정보공개</a></li>
        <li><a href="">한국수목원정원관리원</a></li>
      </ul>
      <ul>
        <a href="">함께하기</a>
        <li><a href="">자원봉사안내</a></li>
        <li><a href="">기부안내</a></li>
      </ul>
      <ul>
        <a href="">미디어보도</a>
      </ul>
      <ul>
        <a href="">자료실</a>
      </ul>
    </div>
  </li>
</ul>

<script>
  //헤더네비
  let headerNav = document.querySelectorAll("header ul > li > a");
  let showNav = document.querySelector(".showNav");
  for (let i = 0; i < headerNav.length; i++) {
    let showIndex;
    headerNav[i].addEventListener("mouseenter", function () {
      showIndex = document.querySelector(`.showNav > li:nth-child(${i + 1})`);
      showIndex.classList.add("active");
    });
    headerNav[i].addEventListener("mouseleave", function () {
      showIndex.classList.remove("active");
    });
  }
</script>
