<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>국립세종수목원: 교육소개</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/06a873e6b2.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/education.css" />
  </head>
  <body>
    <header></header>
    <nav>
      <div class="home">
        <i class="fa-solid fa-house"></i>
      </div>
      <select name="" id="">
        <option value="">관람안내</option>
        <option value="">전시</option>
        <option value="">교육</option>
        <option value="">연구</option>
        <option value="">반려식물</option>
        <option value="">기관소개</option>
      </select>
      <select name="" id="">
        <option value="">교육소개</option>
        <option value="">교육소식</option>
        <option value="">교육예약</option>
        <option value="">교육자료실</option>
      </select>
      <div class="share">
        <i class="fa-solid fa-share-nodes"></i>
      </div>
    </nav>
    <main>
      <article class="contents">
        <div class="title">
          <h1>교육소개</h1>
        </div>
        <div class="wrap">
          <h2><strong>일반 교육: 유아에서 성인까지 생애 주기별 맞춤 체험형 정원교육 </strong></h2>
          <ul>
            <li>
              <h4>수목원 해설</h4>
            </li>
            <li>
              <h4>꼬마탐험가</h4>
            </li>
          </ul>
          <h2><strong>전문 교육 : 정원분야 대상별·분야별전문인력 양성을 위한 맞춤교육</strong></h2>
          <ul>
            <li>
              <h4>대학생 전문실습 과정</h4>
            </li>
            <li>
              <h4>분재전문과 가정</h4>
            </li>
          </ul>
          <h2><strong>치유 교육 : 대상별 맞춤형 정원치유교육</strong></h2>
          <ul>
            <li>
              <h4>치매어르신대상 정원시범교육</h4>
            </li>
            <li>
              <h4>소방대원 대상 힐링교육</h4>
            </li>
          </ul>
        </div>
      </article>
    </main>

    <footer></footer>
    <script src="/js/common.js"></script>
  </body>
</html>
