<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>국립세종수목원: 전시 > 기획전시</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/06a873e6b2.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/exhibit.css" />
  </head>
  <body>
    <header></header>
    <nav>
      <div class="home">
        <i class="fa-solid fa-house"></i>
      </div>
      <div class="select">
        <div class="selected">
          <div class="selectedValue">전시</div>
          <div class="arrow"></div>
        </div>
        <ul>
          <li>관람안내</li>
          <li>전시</li>
          <li>교육</li>
          <li>연구</li>
          <li>반려식물</li>
          <li>기관소개</li>
        </ul>
      </div>

      <div class="select">
        <div class="selected">
          <div class="selectedValue">기획전시</div>
          <div class="arrow"></div>
        </div>
        <ul>
          <li>기획전시</li>
          <li>문화행사</li>
          <li>주제전시원</li>
          <li>온실</li>
          <li>분재원</li>
          <li>이달의 수목원</li>
          <li>수목원의 오늘</li>
          <li>식물현황</li>
        </ul>
      </div>
      <div class="share">
        <i class="fa-solid fa-share-nodes"></i>
      </div>
    </nav>
    <main>
      <article class="contents">
        <div class="title">
          <h1>기획전시</h1>
          <h4>
            우리나라의 자연, 환경, 생물 등을 주제로 한 특별전을 개최하는 공간으로 산림생물자원보전의 중요성과 가치를
            특별전시와 문화공연을 통해 알리고자 합니다.
          </h4>
        </div>
        <div class="wrap">
          <ul class="tab">
            <li>진행중</li>
            <li>종료</li>
          </ul>
          <div class="searchBox">
            <div class="searchPeriod">
              <input type="date" />
              <span>~</span>
              <input type="date" />
            </div>
            <div class="searchText">
              <select name="" id="">
                <option value="">전체</option>
                <option value="">문화</option>
                <option value="">특별</option>
                <option value="">공모전</option>
                <option value="">상설</option>
              </select>
              <select name="" id="">
                <option value="">전시명</option>
              </select>
              <input type="text" placeholder="검색어를 입력하세요" />
            </div>
            <button>검색</button>
          </div>
          <div class="ingExhibit">
            <div class="exhibitInfo">
              <div class="exhibitImg">
                <img src="/img/exhibit_ing_01.jpg" alt="" />
              </div>
              <ul class="exhibitText">
                <li class="title">번식 : 꽃의 유혹</li>
                <li class="desc">
                  산림생물다양성 보전을 위해 준비한 <번식 : 꽃의 유혹> 기획전시는 4개의 전시구역으로 구성되어 식물의 종
                  번식을 위한 수분 매개자들을 유혹하는 다양한 방법과 인간에 의한 번식 방법을 소개한다.
                </li>
                <li class="period">기간 : 2023-12-16 ~ 2024-03-31</li>
                <li class="place">장소 : 사계절전시온실 중앙홀</li>
              </ul>
            </div>
            <div class="exhibitInfo">
              <div class="exhibitImg">
                <img src="/img/exhibit_ing_02.jpg" alt="" />
              </div>
              <ul class="exhibitText">
                <li class="title">신비한 마법의 식물사전</li>
                <li class="desc">
                  식물은 아주 오래전부터 특별한 치유력으로 인간의 병을 치료하고 우리 삶을 건강하고 풍요롭게
                  해주었습니다.<br /><br />
                  약사와 의사뿐 아니라, 제사장과 마법사, 연금술사와 현자들도 주술과 예언, 보호의 효력을 선보이기 위해
                  다양한 식물을 사용했어요.<br /><br />
                  국립세종수목원의 특별전시 <신비한 마법의 식물사전>에서는 식물의 특별한 능력과 마법에 얽힌 흥미로운
                  이야기를 소개합니다.
                </li>
                <li class="period">기간 : 2023-12-09 ~ 2024-03-31</li>
                <li class="place">장소 : 사계절전시온실 특별전시온실</li>
              </ul>
            </div>
          </div>
          <div class="endExhibit">
            <div class="exhibitInfo">
              <div class="exhibitImg">
                <img src="/img/exhibit_end_01.jpg" alt="" />
              </div>
              <ul class="exhibitText">
                <li class="title special">2023 대한민국 정원식물 전시·품평회</li>
                <li class="desc">
                  대한민국 정원식물 전시·품평회는 특별한 식물을 찾고 있는 가드너에게 새로운 정원식물을 한자리에 모아
                  소개하는 전시입니다. 국립세종수목원에서 열리는 2023년 하반기 전시·품평회에는 27개 기업 및 기관이
                  출품한 450여 가지 정원식물이 전시됩니다.
                </li>
                <li class="period">기간 : 2023-09-27 ~ 2023-10-09</li>
                <li class="place">장소 : 국립세종수목원 전시품평회장</li>
              </ul>
            </div>
            <div class="exhibitInfo">
              <div class="exhibitImg">
                <img src="/img/exhibit_end_02.jpg" alt="" />
              </div>
              <ul class="exhibitText">
                <li class="title special">700년 아라홍련 세종에 피다</li>
                <li class="desc">
                  국립세종수목원, 경남 함안군 협업 아라홍련 특별전 700년간 잠들어있던 고려 연꽃, 아라홍련을 아시나요?
                </li>
                <li class="period">기간 : 2023-06-13 ~ 2023-08-31</li>
                <li class="place">장소 : 한국전통정원 궁궐정원</li>
              </ul>
            </div>
            <div class="exhibitInfo">
              <div class="exhibitImg">
                <img src="/img/exhibit_end_03.jpg" alt="" />
              </div>
              <ul class="exhibitText">
                <li class="title special">2023 대한민국 정원식물 전시·품평회 - 상반기</li>
                <li class="desc">
                  대한민국 정원식물 전시·품평회는 특별한 식물을 찾고 있는 가드너에게 새로운 정원식물을 한자리에 모아
                  소개하는 전시입니다. 순천만국가정원에서 열리는 2023년 상반기 전시·품평회에는 37개 기업 및 기관이
                  출품한 550여 가지 정원식물이 전시됩니다.
                </li>
                <li class="period">기간 : 2023-05-19 ~ 2023-05-29</li>
                <li class="place">장소 : 순천만국가정원 국제습지센터 일대</li>
              </ul>
            </div>
            <div class="exhibitInfo">
              <div class="exhibitImg">
                <img src="/img/exhibit_end_04.jpg" alt="" />
              </div>
              <ul class="exhibitText">
                <li class="title special">K가든, 꽃을 틔우다 「양화소록」편</li>
                <li class="desc">
                  글로벌 정원문화 확산을 위해 우리 전통 정원과 식물 콘텐츠를 발굴하여 소개하는 'K가든, 꽃을 틔우다'
                  기획전 시리즈를 선보입니다. 그 첫 번째 전시로, 강희안의 <양화소록>에 수록된 식물과 가드닝에 관한
                  이야기를 소개합니다.
                </li>
                <li class="period">기간 : 2023-04-08 ~ 2023-08-27</li>
                <li class="place">장소 : 사계절전시온실 중앙홀</li>
              </ul>
            </div>
          </div>
        </div>
      </article>
    </main>
    <footer></footer>
    <script src="/js/common.js"></script>
    <script>
      //전시 진행중 종료 탭
      let ingBtn = document.querySelector(".tab li:first-child");
      let endBtn = document.querySelector(".tab li:last-child");
      let ingEx = document.querySelector(".ingExhibit");
      let endEx = document.querySelector(".endExhibit");

      endBtn.addEventListener("click", function () {
        this.style.backgroundColor = "#008571";
        ingBtn.style.backgroundColor = "#ddd";
        this.style.color = "white";
        ingBtn.style.color = "#333";
        ingEx.style.display = "none";
        endEx.style.display = "block";
      });
      ingBtn.addEventListener("click", function () {
        this.style.backgroundColor = "#008571";
        endBtn.style.backgroundColor = "#ddd";
        this.style.color = "white";
        endBtn.style.color = "#333";
        endEx.style.display = "none";
        ingEx.style.display = "block";
      });
    </script>
  </body>
</html>
