<a href="/index.html"><img src="/img/logo.png" alt="로고" /></a>
<nav>
  <ul>
    <li>
      <a href="/components/operation.html">관람안내</a>
    </li>
    <li>
      <a href="/components/exhibit.html">전시</a>
    </li>
    <li>
      <a href="/components/education.html">교육</a>
    </li>
    <li>
      <a href="/components/study.html">연구</a>
    </li>
    <li>
      <a href="/components/partner.html">반려식물</a>
    </li>
    <li>
      <a href="/components/organization.html">기관소개</a>
    </li>
  </ul>
</nav>
<div class="nation">
  <img src="/img/flag.png" alt="국기" />
</div>
