<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>국립세종수목원: 반려식물</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/06a873e6b2.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/partner.css" />
  </head>
  <body>
    <header></header>
    <nav>
      <div class="home">
        <i class="fa-solid fa-house"></i>
      </div>
      <select name="" id="">
        <option value="">관람안내</option>
        <option value="">전시</option>
        <option value="">교육</option>
        <option value="">연구</option>
        <option value="">반려식물</option>
        <option value="">기관소개</option>
      </select>
      <select name="" id="">
        <option value="">한반도 산림식생대 소개</option>
        <option value="">온대중부식물 연구 소개</option>
        <option value="">정원소재연구실</option>
        <option value="">정원식물 전시·품평회</option>
        <option value="">연구자료실</option>
      </select>
      <div class="share">
        <i class="fa-solid fa-share-nodes"></i>
      </div>
    </nav>

    <main>
      <div class="sideBtn"></div>

      <article class="contents">
        <div class="title">
          <h1>반려식물 클리닉 소개</h1>
          <h4>반려식물 클리닉을 소개합니다.</h4>
        </div>
        <div class="wrap">
          <div class="bgArea">
            <strong>나누는 반려식물, 더하는 국민행동</strong>
            <p>
              국립세종수목원은 국민과 함께하는 반려식물프로젝트를 통해 행복을 더하고<br />
              사회적 가치 실현과 정원문화 확산을 위해 노력합니다.
            </p>
          </div>
          <ul class="greenCounseling">
            <li>
              <span>식물 상담실</span>
              <p class="miniDesc">식물이름, 관리방법 등 반려식물의 궁금증을 해소해 드립니다.</p>
            </li>
            <li>
              <span>반려식물 나눔</span>
              <p class="miniDesc">수목원의 잉여식물, 결실종자 등 반려식물을 나누어 드립니다.</p>
            </li>
            <li>
              <span>식물지식 나눔</span>
              <p class="miniDesc">아름다운 반려식물을 키우는 공간, 모델 정원의 디자인을 공유합니다.</p>
            </li>
            <li>
              <span>지역사회</span>
              <p class="miniDesc">지역민, 사회와 함께 반려식물의 문화확산에 함께 합니다.</p>
            </li>
          </ul>
        </div>
      </article>
    </main>
    <footer></footer>
    <script src="/js/common.js"></script>
  </body>
</html>
