<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>국립세종수목원: 이용안내</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/06a873e6b2.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/operation.css" />
  </head>
  <body>
    <header></header>
    <nav>
      <div class="home">
        <i class="fa-solid fa-house"></i>
      </div>
      <select name="" id="">
        <option value="">관람안내</option>
        <option value="">전시</option>
        <option value="">교육</option>
        <option value="">연구</option>
        <option value="">반려식물</option>
        <option value="">기관소개</option>
      </select>
      <select name="" id="">
        <option value="">한반도 산림식생대 소개</option>
        <option value="">온대중부식물 연구 소개</option>
        <option value="">정원소재연구실</option>
        <option value="">정원식물 전시·품평회</option>
        <option value="">연구자료실</option>
      </select>
      <div class="share">
        <i class="fa-solid fa-share-nodes"></i>
      </div>
    </nav>

    <main>
      <ul class="fixBar">
        <li>
          <img src="./img/bar1.gif" />
          <a href="">이용안내</a>
        </li>
        <li>
          <img src="./img/bar2.gif" />
          <a href=""> 오시는 길</a>
        </li>
        <li>
          <img src="./img/bar3.gif" />
          <a href=""> 전시원 안내</a>
        </li>
        <li>
          <img src="./img/bar4.gif" />
          <a href=""> 통합예약</a>
        </li>
        <li>
          <img src="./img/bar5.gif" />
          <a href=""> 분실물 찾기</a>
        </li>
      </ul>

      <article class="contents">
        <div class="title"></div>
        <div class="wrap"></div>
      </article>

      <button class="topBtn">
        <i class="fa-solid fa-chevron-up"></i>
        <p>TOP</p>
      </button>
    </main>
    <footer></footer>
    <script src="/js/common.js"></script>
  </body>
</html>
